---
import type { Project } from "@types";
import ZoomInIcon from "./icons/ZoomInIcon.astro";
import BoxArrowUpRightIcon from "./icons/BoxArrowUpRightIcon.astro";

interface Props {
  project: Project;
}

const {
  project: { titulo, descripcion, imagen, slug },
} = Astro.props;
---

<div class="portfolio-content h-100">
  <img src={imagen} class="img-fluid" alt={titulo} />
  <div class="portfolio-info">
    <h4>{titulo}</h4>
    <a href={imagen} class="glightbox preview-link">
      <ZoomInIcon />
    </a>
    <a href={`/obras/${slug}`} class="details-link">
      <BoxArrowUpRightIcon />
    </a>
  </div>
</div>
