---
import SectionContainer from "@components/SectionContainer.astro";
import type { ProjectsSection } from "@types";
interface Props {
  projects: ProjectsSection;
}

const { projects: obras } = Astro.props;

const categorias = obras.flatMap((obra) => obra.categorias?.map((cat) => cat));

const uniqueCategorias = [...new Set(categorias)];
---

<SectionContainer id="projects" class="projects">
  <div class="section-header">
    <h2>Nuestras Obras</h2>
    <p>
      Te presentamos algunos de nuestros proyectos destacados que demuestran
      nuestra experiencia y calidad en el sector.
    </p>
  </div>

  <div class="portfolio-isotope">
    <ul class="portfolio-flters">
      <li data-filter="*" class="filter-active">Todo</li>
      {
        uniqueCategorias.map((cat) => (
          <li data-filter={`.filter-${cat.slug}`}>{cat.name}</li>
        ))
      }
    </ul>

    <div class="row gy-4 portfolio-container">
      {
        obras &&
          obras.map((obra, index) => (
            <div
              class={`col-lg-4 col-md-6 portfolio-item filter-${obra.categorias?.[0]?.slug}`}
            >
              <div class="portfolio-content h-100">
                <img
                  src={obra.imagen}
                  class="img-fluid"
                  alt={obra.titulo}
                />
                <div class="portfolio-info">
                  <h4>{obra.titulo}</h4>
                  <p>{obra.descripcion}</p>
                  <a href={obra.imagen} class="glightbox preview-link">
                    <i class="bi bi-zoom-in" />
                  </a>
                  <a href={`/obras/${obra.slug}`} class="details-link">
                    <i class="bi bi-link-45deg" />
                  </a>
                </div>
              </div>
            </div>
          ))
      }
    </div>
  </div>
</SectionContainer>
