---
import type { ConstructionServiceSection, ServiceSection } from "../types";
import SectionContainer from "./SectionContainer.astro";
import ServiceCard from "./ServiceCard.astro";

interface Props {
  seccionServicios: ConstructionServiceSection;
  showBanner?: boolean;
}

const { seccionServicios, showBanner = true } = Astro.props;

const { titulo, servicios, texto_imagen, imagen } = seccionServicios;
---

{
  showBanner && (
    <SectionContainer
      id="services-construction"
      class="services-construction"
      fullWidth
    >
      <div class="section-image-top-wrapper">
        <h2>{texto_imagen}</h2>
        <img
          src={imagen}
          class="section-image-top"
          alt="Servicios Construcción"
        />
        <div class="section-overlay" />
      </div>
    </SectionContainer>
  )
}

<SectionContainer id="constructions" class="constructions">
  <div class="section-header">
    <h2>{titulo}</h2>
  </div>

  <div class="container-list">
    {
      servicios.map((servicio) => (
        <ServiceCard
          imagen={servicio.imagen}
          titulo={servicio.titulo}
          serviceDetails={servicio.details}
        />
      ))
    }
  </div>
</SectionContainer>
<style>
  .section-image-top-wrapper {
    position: relative;
    margin: 80px 0;
    width: 100%;
    height: 650px;
    clip-path: inset(0);
    overflow: clip;
    scroll-margin-top: 88px;
  }
  .section-image-top-wrapper h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    text-align: center;
    z-index: 1;
    color: white;
    z-index: 2;
  }
  .section-image-top {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .section-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .container-list {
    display: grid;
    width: 100%;
    gap: var(--grid-gap);
    grid-auto-columns: 1fr;
    grid-gap: var(--grid-gap);
    will-change: transform;
    -webkit-animation: slideTop 0.8s ease;
    animation: slideTop 0.8s ease;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1024px) {
    .container-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
